{% extends 'base.html' %}
{% block content %}

<a class="" href="{% url 'historiaclinica_add' %}" >Adicionar Historia Clinica</a>
<table class='table'>
   <thead>
      <tr class="warning">
          <td>
            Nombre
          </td>
          <td>
            Eliminar
          </td>
      </tr>
   </thead>
<tbody> 
{% for historiaclinica in object_list %}
<tr class="{% cycle 'warning' 'info' 'error' 'success' %}">
  <td>
     <a href="{{ historiaclinica.direccion_para_actualizar }}"
      data-paciente"{{ historiaclinica.paciente }}" data-fecha_toma_examen="{{ historiaclinica.fecha_toma_examen }}"
      >{{ historiaclinica.paciente }}</a>    
  </td>   
  <td>
    <a href="{{ historiaclinica.direccion_para_eliminar }}">
    Delete
    </a>
    
  </td>
  </tr>

     </tr>
   {% endfor %}
 </tbody>
</table>
{% endblock %}
