{% extends 'base.html' %}
{% block content %}

<a class="btn btn-info btn-large" href="{% url 'historiaclinica_add' %}" >Adicionar Historia Clinica</a>
<table class='table table-bordered table-striped table-hover'>
   <thead>
      <tr class="warning">
          <td>
            Nombre
          </td>
          <td>
            Eliminar
          </td>
      </tr>
   </thead>
<tbody> 
{% for historiaclinica in object_list %}
<tr class="">
  <td>
     <a href="{{ historiaclinica.direccion_para_actualizar }}"
      data-paciente"{{ historiaclinica.paciente }}" data-fecha_toma_examen="{{ historiaclinica.fecha_toma_examen }}"
      >{{ historiaclinica.paciente }}</a>    
  </td>   
  <td>
    <a class='btn btn-primary' href="{{ historiaclinica.direccion_para_eliminar }}">
    <i class="icon-trash"></i>
    Delete
    </a>
    
  </td>
  </tr>

     </tr>
   {% endfor %}
 </tbody>
</table>
{% endblock %}
