{% extends 'base.html' %}
{% block content %}

<a class="btn btn-info btn-large" href="{% url 'paciente_add' %}" >Adicionar Paciente</a>
<table class='table table-bordered table-striped table-hover'>
   <thead>
      <tr class="warning">
          <td>
            Nombre
          </td>
          <td>
            Eliminar
          </td>
      </tr>
   </thead>
<tbody> 
{% for paciente in object_list %}
<tr class="">
  <td>
     <a href="{{ paciente.direccion_para_actualizar }}"
      data-nombre="{{ paciente.nombre }}" data-primer_pellido="{{ paciente.primer_pellido }}"
      >{{ paciente.nombre }}</a>    
  </td>   
  <td>
    <a class='btn btn-primary' href="{{ paciente.direccion_para_eliminar }}">
    <i class="icon-trash"></i>
    Delete
    </a>
    
  </td>
  </tr>

     </tr>
   {% endfor %}
 </tbody>
</table>
{% endblock %}
